body {
    height: 100%;
    margin: 0;
    font-family: BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* NAV INICIO */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 40px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 15px;
}

.navbar-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}

.navbar-search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar-search input[type="text"] {
    padding-left: 30px;
}

.navbar-search .fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.navbar-search input {
    padding: 15px;
    border: 1px solid #030000;
    border-radius: 20px;
    width: 100%;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-icons a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 5px 0 5px
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.navbar-buttons a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar-buttons .btn {
    padding: 5px 10px;
    border-radius: 3px;
}

.navbar-buttons .login-btn {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 9px;
}

.navbar-buttons .signup-btn {
    background-color: black;
    padding: 10px;
    color: white;
}

.navbar-buttons .cart img {
    height: 24px;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-links .dropdown {
    position: relative;
}

.navbar-links .dropdown-toggle::after {
    margin-left: 5px;
}

.navbar-links .dropdown-menu {
    display: none;
    position: absolute;
    width: 300px;
    top: 210%;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border: 1px solid #ddd;
    z-index: 1000;
}

.navbar-links .dropdown-menu li {
    padding: 5px 20px;
}

.navbar-links .dropdown-menu li a {
    color: black;
    text-decoration: none;
}

.navbar-links .dropdown-menu li:hover {
    background-color: #f1f1f1;
}

.navbar-links .dropdown:hover .dropdown-menu {
    display: block;
}

/* NAV FIM */

/* relacionado a parte de promoção de gratidão ao aluno termina hoje INICIO */
.full-height {
    display: flex;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.container img {
    max-width: 80%;
    display: block;
}

.container-patrocinadores {
    position: relative;
    width: 100%;
}

.lista-patrocinadores h2 {
    margin-top: 10px;
}

.image {
    display: block;
    width: 100%;
    height: 400px;
}

.text-overlay {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px;
}

/* relacionado a parte de promoção de gratidão ao aluno termina hoje FIM */

/* credibilidade 15K INICIO */
.gray-large {
    margin-top: 20px;
    background-color: #f7f9fa;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.gray-large h2 {
    font-size: 20px;
    color: #999;
    word-break: break-word;
}

.gray-large ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gray-large ul li {
    margin: 10px;
}

.patrocinadores img {
    max-width: 100px;
    height: auto;
}

.lista-patrocinadores {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.hamburguer {
    display: none;
}

.lupa {
    display: none;
}

/* credibilidade 15K FIM */

/* parte que mostra cursos das categorias */

.painel-cursos {
    padding: 20px;
}

.cursos-horizontal {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 20px;
}

.card-curso {
    border-radius: 8px;
    width: 200px;
    background-color: #fff;
    flex: 0 0 auto;
}

.img-curso {
    width: 100%;
    height: 150px;
}

.nome-curso,
.img-curso,
.nome-professor,
.preco-curso {
    margin: 0;
    padding: 0;
}

.nome-professor {
    font-size: 12px;
    color: gray;
}

.preco-curso {
    font-weight: bolder;
}

.card-grande-cursos {
    border: 1px solid #ddd;
    padding: 10px;
}

.categorias-lista {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 10px;
}

.categoria-item {
    flex: 1;
    text-align: center;
    margin: 0 5px 20px 5px;
}

.categoria-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.categoria-item h3 {
    margin: 0;
}

.principais-categorias {
    width: 80%;
    margin: 0 auto;
}

.principais-categorias h3 {
    margin-left: 15px;
}

.c {
    display: flex; /* Ativa o layout flexbox */
  }

@media (max-width: 1300px) {
    #udemy-business {
        display: none;
    }

    .principais-categorias {
        width: 100%;
        margin: 0;
    }

    .container img {
        max-width: 100%;
    }

    .card-grande-cursos {
        padding: 10px;
        margin: 0;
    }
}

@media (max-width: 1100px) {
    #ensine-udemy {
        display: none;
    }
}

@media (max-width: 950px) {
    .navbar-search {
        width: 100%;
    }

    .categoria-item img {
        width: 150px;
        height: 150px;
    }

    .navbar-toggle {
        display: flex;
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        border-top: 1px solid #ddd;
    }

    .dropdown-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-menu ul li {
        padding: 10px 20px;
    }

    .dropdown-menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    .dropdown-menu.open {
        display: flex;
    }

    .gray-large h2 {
        font-size: 18px;
    }

    .navbar-buttons {
        display: none;
    }

    .navbar-links {
        display: none;
    }

    .navbar-search {
        display: none;
    }

    .text-overlay {
        width: 250px;
    }

    .text-overlay h1 {
        font-size: 20px;
    }

    .hamburguer {
        display: block;
    }

    .lupa {
        display: block;
    }
}

@media (max-width: 800px) {

    .categorias-lista { 
        display: inline-block;
    }

    .categoria-item { 
        display: inline-block;
    }

    .categoria-item img {
        display: none;
    }

    .categoria-item h3 {
        font-size: 10px;
        display: none;
    }
}

@media (max-width: 700px) {
    .text-overlay {
        position: static;
        transform: none;
        box-shadow: none;
        width: 90%;
    }

    .container {
        flex-direction: column;
    }

    .text-overlay h1,
    .text-overlay p {
        text-align: left;
        margin: 10px;
    }

    .text-overlay p {
        font-size: 14px;
    }

    .image {
        height: 300px;
    }
}

@media (max-width: 350px) {
    .image {
        height: 200px;
    }
}